
body {
    margin-left: 15%;
    align-content: center;    
    background-color: #C3D5E9;
}

.movie{
    width:40%;
    height:50%;
    display:inline-block;
    background-color:wheat;
    margin:10px;
    
}

.movie > img{
    float:left;
    margin-top: -2%;
    width: 20%; 
    height:20%;
}

.movie_summmary, .genres__genre, .movie__year{
    font-size: 5%;
}
.movie__title{
    font-size: 11px;
    margin-bottom: -1%;
}

.movie_summmary{
    width: 90%;
    height: 80px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    clear:both;
    border: rgb(52, 218, 230) 3px dotted ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.genre{
    margin-top: -1%;
    margin-bottom: 1%;
    height: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

@media screen and (max-width: 768px) { 

body {
    margin-left: 8%;
    align-content: center;    
    background-color: #C3D5E9;
}

.movie{
    width:90%;
    height:70%;
    display:inline-block;
    background-color:wheat;
    margin:10px;
    
}

.movie > img{
    float:left;
    margin-top: -2%;
    width: 50%; 
    height:50%;
}

.movie_summmary, .genres__genre, .movie__year{
    font-size: 13px;
}
.movie__title{
    font-size: 15px;
    margin-bottom: -1%;
}

.movie_summmary{
    width: 90%;
    height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    clear:both;
    border: rgb(52, 218, 230) 3px dotted ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 16px;
}

.genre{
    margin-top: -1%;
    margin-bottom: 1%;
}
 }





